/* COLORS */

$textBlack: #23272f;
$red: #fa7372;
$peach: #ffbe98;
$yellow: #fee7b3;
$oldLace: #fdf5e8;
$yellowish: #fffdfa;
$lightBlue: #dae8ff;
$blue: #adccf9;
$textBlue: #a2c7ff;
$lightGray: #d9d9d9;
$gray: #9c9c9c;

/* FONTS */

$exo2: 'Exo 2', sans-serif;
$exo2Black: 'Exo2-Black', sans-serif;
$exo2ExtraBold: 'Exo2-ExtraBold', sans-serif;
$exo2Bold: 'Exo2-Bold', sans-serif;
$exo2SemiBold: 'Exo2-SemiBold', sans-serif;
$exo2Medium: 'Exo2-Medium', sans-serif;
$exo2Regular: 'Exo2-Regular', sans-serif;
$exo2Light: 'Exo2-Light', sans-serif;
$exo2ExtraLight: 'Exo2-ExtraLight', sans-serif;
$forum: 'Forum-Medium', sans-serif;
